- name: Fix AppxManifest.xml and Create MSIX
  shell: powershell
  run: |
    # ---------- Corrigir AppxManifest.xml ----------
    $manifest = @'
<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="ScriptBox.UWP"
    Publisher="CN=ScriptBox"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>ScriptBox</DisplayName>
    <PublisherDisplayName>ScriptBox Dev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>ScriptBox UWP application packaged for MSIX sideloading</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="ScriptBox.exe"
      EntryPoint="Windows.FullTrustApplication">

      <uap:VisualElements
        DisplayName="ScriptBox"
        Description="ScriptBox UWP Application"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
'@

    $manifest | Out-File -Encoding utf8 work\AppxManifest.xml

    # ---------- Criar MSIX ----------
    $sdk = "C:\Program Files (x86)\Windows Kits\10\bin\x64"

    if (!(Test-Path "$sdk\makeappx.exe")) {
      throw "makeappx.exe not found in Windows SDK"
    }

    & "$sdk\makeappx.exe" pack `
      /d work `
      /p output\ScriptBox.msix `
      /o
