
name: Build and Sign MSIX (from ZIP)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Prepare folders
      shell: powershell
      run: |
        mkdir WORK
        mkdir OUTPUT

    - name: Extract package ZIP
      shell: powershell
      run: |
        Expand-Archive ScriptBoxPackage-aligned-originals.zip WORK

    - name: Create MSIX
      shell: powershell
      run: |
        makeappx.exe pack `
          /d WORK `
          /p OUTPUT/ScriptBox.msix `
          /o

    - name: Decode PFX
      shell: powershell
      run: |
        $bytes = [Convert]::FromBase64String("${{ secrets.PFX_BASE64 }}")
        [IO.File]::WriteAllBytes("signing.pfx", $bytes)

    - name: Sign MSIX
      shell: powershell
      run: |
        signtool sign `
          /fd SHA256 `
          /f signing.pfx `
          /p "${{ secrets.PFX_PASSWORD }}" `
          OUTPUT/ScriptBox.msix

    - name: Upload MSIX
      uses: actions/upload-artifact@v4
      with:
        name: ScriptBox-MSIX
        path: OUTPUT/ScriptBox.msix
